<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kechuang.www.kc">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".StarActivity" />
        <activity android:name=".HelpView.HelpActivity" />
        <activity android:name=".HelpedActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".PersonalInfoActivity" />
        <activity android:name=".UpdateInfoActivity" />
        <activity android:name=".OrderView.OrderActivity" />
        <activity android:name=".ForgetActivity" />
        <activity android:name=".PayActivity" />
        <activity android:name=".sqlite.SchemaActivity" />
        <activity android:name=".HelpView.ListViewItem" />
        <activity android:name=".HelpView.ItemActivity" />
        <activity android:name=".OrderView.Item1Activity" />
        <activity android:name=".OrderView.Item0Activity" />
        <activity android:name=".FinishedView.FinishedActivity" />
        <activity android:name=".FinishedView.Item2Activity" />
        <activity android:name=".OrderView.Item12Activity"></activity>
    </application>

</manifest>